In [7]:
import pandas as pd

In [1]:
import sqlite3
# Tạo kết nối tới CSDL có tên là database.sqlite
# Nếu database.sqlite chưa tồn tại trong hệ thống thì nó sẽ
# tự tạo mới
connection = sqlite3.connect('database.sqlite')
cursor = connection.cursor()

In [3]:
# Tạo bảng PRODUCT 
# Cột  | Kiểu dữ liệu | Chú thích
# ID   | INTERGER     | Khóa chính
# NAME | TEXT         | Not null
# PRICE| INTERGER     | Not null

In [4]:
cursor.execute("""
CREATE TABLE PRODUCT (
    ID INTERGER PRIMARY KEY,
    NAME TEXT NOT NULL,
    PRICE INTERGER NOT NULL
);
""")

In [5]:
# Thêm vào các dòng
# ID |     NAME        | PRICE
# 1  | iPhone 15       | 18000000
# 2  | Galaxy Z-Fold 5 | 30000000

In [6]:
cursor.execute("""
INSERT INTO PRODUCT(ID, NAME, PRICE)
VALUES
    ('1', 'iPhone 15', '18000000'),
    ('2', 'Galaxy Z-Fold 5', '30000000');
""")

In [8]:
data = pd.read_sql_query("SELECT * FROM PRODUCT", connection)
print(data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  30000000

In [10]:
#  Hãy cập nhật giá mới cho Galaxy Z-Fold 5 thành 50.000.000 và kiểm tra
#  kết quả:
cursor.execute("""
UPDATE PRODUCT
SET PRICE = 50000000
WHERE NAME = 'Galaxy Z-Fold 5';
""")
connection.commit()

In [12]:
data = pd.read_sql_query("SELECT * FROM PRODUCT", connection)
print(data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  50000000

In [14]:
# Hãy xóa iPhone 15 ra khỏi CSDL và kiểm tra kết quả:
cursor.execute("""
DELETE FROM PRODUCT
WHERE NAME = 'iPhone 15';
""")
connection.commit()

In [15]:
data = pd.read_sql_query("SELECT * FROM PRODUCT", connection)
print(data)

   ID             NAME     PRICE
0   2  Galaxy Z-Fold 5  50000000